// Mixins
// --------------------------------------------------

// Utilities
@import "mixins/vendor-prefixes";

// Components
@import "mixins/table-row";

// Layout
@import "mixins/clearfix";

// Paddings
// -------------------------
.pad-tb(@top: 10px; @bottom: @top;) {
    padding-top: @top;
    padding-bottom: @bottom;
}
.pad-lr(@left: 10px; @right: @left;) {
    padding-left: @left;
    padding-right: @right;
}

// Margins
// -------------------------
.mar-tb(@top: 10px; @bottom: @top;) {
    margin-top: @top;
    margin-bottom: @bottom;
}
.mar-lr(@left: 10px; @right: @left;) {
    margin-left: @left;
    margin-right: @right;
}

