<%
var pageTitle = "Buttons";
var pageID    = "buttons";
var pageClass = "buttons";
%>
<% include _header %>
<% include _sidebar %>
        <div id="content" class="app-content" role="main">
            <div class="content-header">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="page-title"><%= pageTitle %></h1>
                    </div>
                    <div class="col-md-6">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active"><%= pageTitle %></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="container-fluid plr-0">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Default Buttons</h2>
                                    <small>Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</small>
                                </div>
                                <div class="panel-body">
                                    <div class="button-list">
                                        <button type="button" class="btn btn-default">Default</button>
                                        <button type="button" class="btn btn-primary">Primary</button>
                                        <button type="button" class="btn btn-success">Success</button>
                                        <button type="button" class="btn btn-info">Info</button>
                                        <button type="button" class="btn btn-warning">Warning</button>
                                        <button type="button" class="btn btn-danger">Danger</button>
                                        <button type="button" class="btn btn-inverse">Inverse</button>
                                        <button type="button" class="btn btn-link">Link</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Rounded Buttons</h2>
                                    <small>Add <code>.btn-rounded</code> to default button to get rounded corners.</small>
                                </div>
                                <div class="panel-body">
                                    <div class="button-list">
                                        <button type="button" class="btn btn-rounded btn-default">Default</button>
                                        <button type="button" class="btn btn-rounded btn-primary">Primary</button>
                                        <button type="button" class="btn btn-rounded btn-success">Success</button>
                                        <button type="button" class="btn btn-rounded btn-info">Info</button>
                                        <button type="button" class="btn btn-rounded btn-warning">Warning</button>
                                        <button type="button" class="btn btn-rounded btn-danger">Danger</button>
                                        <button type="button" class="btn btn-rounded btn-inverse">Inverse</button>
                                        <button type="button" class="btn btn-rounded btn-link">Link</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Button Sizes</h2>
                                    <small>Add <code>.btn-lg</code>, <code>.btn-sm</code>, or <code>.btn-xs</code> for additional sizes.</small>
                                </div>
                                <div class="panel-body">
                                    <div class="button-list">
                                        <button class="btn btn-primary btn-lg">Large</button>
                                        <button class="btn btn-danger">Normal</button>
                                        <button class="btn btn-success btn-sm">Small</button>
                                        <button class="btn btn-info btn-xs">Extra small</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Block level Button</h2>
                                    <small>Add <code>.btn-lg</code>, <code>.btn-sm</code>, or <code>.btn-xs</code> for additional sizes.</small>
                                </div>
                                <div class="panel-body">
                                    <div class="button-list">
                                        <button class="btn btn-primary btn-block">Block level button</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- #content -->
<% include _footer %>