<%
var pageTitle = "Dashboard";
var pageID    = "dashboard";
var pageClass = "dashboard";
%>
<% include _header %>
<% include _sidebar %>
        <div id="content" class="app-content" role="main">
            <div class="app-content-header">
                <h1><%= pageTitle %></h1>
            </div>
            <div class="wrapper">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum necessitatibus ab id tenetur molestias voluptatum cumque consequatur aliquid repellendus pariatur. Vel suscipit veritatis architecto sed odit esse ab quo deleniti.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dolorem, esse hic, ex tenetur accusantium iure illo, minus nam cupiditate molestiae dolorum eveniet! Cupiditate aperiam illum reprehenderit neque vitae debitis.</p>
            </div>
        </div> <!-- #content -->
<% include _footer %>