<%
var pageTitle = "Panels";
var pageID    = "panels";
var pageClass = "panels";
%>
<% include _header %>
<% include _sidebar %>
        <div id="content" class="app-content" role="main">
            <div class="content-header">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="page-title"><%= pageTitle %></h1>
                    </div>
                    <div class="col-md-6">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active"><%= pageTitle %></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum necessitatibus ab id tenetur molestias voluptatum cumque consequatur aliquid repellendus pariatur. Vel suscipit veritatis architecto sed odit esse ab quo deleniti.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dolorem, esse hic, ex tenetur accusantium iure illo, minus nam cupiditate molestiae dolorum eveniet! Cupiditate aperiam illum reprehenderit neque vitae debitis.</p>
            </div>
        </div> <!-- #content -->
<% include _footer %>