<%
var pageTitle = "Typography";
var pageID    = "typography";
var pageClass = "typography";
%>
<% include _header %>
<% include _sidebar %>
        <div id="content" class="app-content" role="main">
            <div class="content-header">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="page-title"><%= pageTitle %></h1>
                    </div>
                    <div class="col-md-6">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active"><%= pageTitle %></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="container-fluid plr-0">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="h4 panel-title">Headings</h2>
                                    <p class="small">All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available.</p>
                                </div>
                                <div class="panel-body">
                                    <h1>h1. Heading 1 <small>Secondary text</small></h1>
                                    <h2>h2. Heading 2 <small>Secondary text</small></h2>
                                    <h3>h3. Heading 3 <small>Secondary text</small></h3>
                                    <h4>h4. Heading 4 <small>Secondary text</small></h4>
                                    <h5>h5. Heading 5 <small>Secondary text</small></h5>
                                    <h6>h6. Heading 6 <small>Secondary text</small></h6>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="h4 panel-title">Paragraphs</h2>
                                </div>
                                <div class="panel-body">
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="h4 panel-title">Inline Text Elements</h2>
                                </div>
                                <div class="panel-body">
                                    <h3 class="h4 mtb-10">Lead body copy</h3>
                                    <p>Make a paragraph stand out by adding <code>.lead</code>.</p>
                                    <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
                                    <hr>
                                    <h3 class="h4 mtb-10">Marked text</h3>
                                    <p>For highlighting a run of text due to its relevance in another context, use the <code>&lt;mark&gt;</code> tag.</p>
                                    <p>You can use the mark tag to <mark>highlight</mark> text.</p>
                                    <hr>
                                    <h3 class="h4 mtb-10">Deleted text</h3>
                                    <p>For indicating blocks of text that have been deleted use the <code>&lt;del&gt;</code> tag.</p>
                                    <p><del>This line of text is meant to be treated as deleted text.</del></p>
                                    <hr>
                                    <h3 class="h4 mtb-10">Strikethrough text</h3>
                                    <p>For indicating blocks of text that are no longer relevant use the <code>&lt;s&gt;</code> tag.</p>
                                    <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                                    <hr>
                                    <h3 class="h4 mtb-10">Inserted text</h3>
                                    <p>For indicating additions to the document use the <code>&lt;ins&gt;</code> tag.</p>
                                    <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
                                    <hr>
                                    <h3 class="h4 mtb-10">Underlined text</h3>
                                    <p>To underline text use the <code>&lt;u&gt;</code> tag.</p>
                                    <p><u>This line of text will render as underlined</u></p>
                                    <hr>
                                    <h3 class="h4 mtb-10">Small text</h3>
                                    <p>For de-emphasizing inline or blocks of text, use the <code>&lt;small&gt;</code> tag to set text at 85% the size of the parent. Heading elements receive their own <code>font-size</code> for nested <code>&lt;small&gt;</code> elements.</p>
                                    <p>You may alternatively use an inline element with <code>.small</code> in place of any <code>&lt;small&gt;</code>.</p>
                                    <p><small>This line of text is meant to be treated as fine print.</small></p>
                                    <hr>
                                    <h3 class="h4 mtb-10">Bold text</h3>
                                    <p>For emphasizing a snippet of text with a heavier font-weight.</p>
                                    <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
                                    <hr>
                                    <h3 class="h4 mtb-10">Italic text</h3>
                                    <p>For emphasizing a snippet of text with italics.</p>
                                    <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="h4 panel-title">Text Alignments</h2>
                                </div>
                                <div class="panel-body">
                                    <p class="text-left"><code>.text-left</code> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum officiis, quidem voluptate corporis. Distinctio officia quibusdam itaque, ipsam nobis perferendis. Officia cupiditate voluptatibus atque, autem quae voluptate nobis. Voluptatem, quisquam.</p>
                                    <hr>
                                    <p class="text-right"><code>.text-right</code> Quam unde maiores, velit odit, placeat est voluptatem. Vitae, ratione, alias! Iusto animi magnam est inventore earum praesentium laudantium impedit, aliquam pariatur commodi nostrum. At laudantium ipsa voluptatem a! Saepe!</p>
                                    <hr>
                                    <p class="text-center"><code>.text-center</code> Quae beatae, dicta ratione voluptatum repellendus omnis optio expedita consectetur laborum, iusto fugit, temporibus sint. Assumenda vero voluptatum eos necessitatibus itaque at.</p>
                                    <hr>
                                    <p class="text-justify"><code>.text-justify</code> Tenetur assumenda iure at, quaerat illo consequuntur sit ipsam. Doloremque consequatur necessitatibus reiciendis, aut perspiciatis explicabo laborum amet tempore. Necessitatibus incidunt quasi voluptate. Quibusdam beatae nostrum, ipsa soluta ab sunt. Quos cumque quod veritatis mollitia a, repellendus tempore commodi numquam quasi beatae aliquid nam facilis repellat maxime nostrum non odio itaque exercitationem soluta eaque explicabo cum ad. Distinctio, accusantium, eaque.</p>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="h4 panel-title">Blockquotes</h2>
                                    <p class="small">Wrap <code>&lt;blockquote&gt;</code> around any <abbr title="HyperText Markup Language">HTML</abbr> as the quote. For straight quotes, we recommend a <code>&lt;p&gt;</code>.</p>
                                </div>
                                <div class="panel-body">
                                    <h3 class="h4 mtb-10">Default Blockquote</h3>
                                    <p>Wrap <code>&lt;blockquote&gt;</code> around any <abbr title="HyperText Markup Language">HTML</abbr> as the quote. For straight quotes, we recommend a <code>&lt;p&gt;</code>.</p>
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    </blockquote>
                                    <hr>
                                    <h3 class="h4 mtb-10">Naming a source</h3>
                                    <p>Add a <code>&lt;footer&gt;</code> for identifying the source. Wrap the name of the source work in <code>&lt;cite&gt;</code>.</p>
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                    </blockquote>
                                    <hr>
                                    <h3 class="h4 mtb-10">Alternate displays</h3>
                                    <p>Add <code>.blockquote-reverse</code> for a blockquote with right-aligned content.</p>
                                    <blockquote class="blockquote-reverse">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="h4 panel-title">Text transforms</h2>
                                </div>
                                <div class="panel-body">
                                    <p class="text-lowercase">Lowercased text.</p>
                                    <p class="text-uppercase">Uppercased text.</p>
                                    <p class="text-capitalize">Capitalized text.</p>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="h4 panel-title">Contextual text colors</h2>
                                </div>
                                <div class="panel-body">
                                    <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                                    <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                    <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                                    <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                                    <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                                    <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="h4 panel-title">Unordered Lists</h2>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Consectetur adipiscing elit</li>
                                        <li>Integer molestie lorem at massa</li>
                                        <li>Facilisis in pretium nisl aliquet</li>
                                        <li>Nulla volutpat aliquam velit
                                            <ul>
                                                <li>Phasellus iaculis neque</li>
                                                <li>Purus sodales ultricies</li>
                                                <li>Vestibulum laoreet porttitor sem</li>
                                                <li>Ac tristique libero volutpat at</li>
                                            </ul>
                                        </li>
                                        <li>Faucibus porta lacus fringilla vel</li>
                                        <li>Aenean sit amet erat nunc</li>
                                        <li>Eget porttitor lorem</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="h4 panel-title">Ordered Lists</h2>
                                </div>
                                <div class="panel-body">
                                    <ol>
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Consectetur adipiscing elit</li>
                                        <li>Integer molestie lorem at massa</li>
                                        <li>Facilisis in pretium nisl aliquet</li>
                                        <li>Nulla volutpat aliquam velit</li>
                                        <li>Faucibus porta lacus fringilla vel</li>
                                        <li>Aenean sit amet erat nunc</li>
                                        <li>Eget porttitor lorem</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="h4 panel-title">Unstyled Lists</h2>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-unstyled">
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Consectetur adipiscing elit</li>
                                        <li>Integer molestie lorem at massa</li>
                                        <li>Facilisis in pretium nisl aliquet</li>
                                        <li>Nulla volutpat aliquam velit
                                            <ul>
                                                <li>Phasellus iaculis neque</li>
                                                <li>Purus sodales ultricies</li>
                                                <li>Vestibulum laoreet porttitor sem</li>
                                                <li>Ac tristique libero volutpat at</li>
                                            </ul>
                                        </li>
                                        <li>Faucibus porta lacus fringilla vel</li>
                                        <li>Aenean sit amet erat nunc</li>
                                        <li>Eget porttitor lorem</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="h4 panel-title">Inline Lists</h2>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-inline">
                                        <li>Lorem ipsum</li>
                                        <li>Phasellus iaculis</li>
                                        <li>Nulla volutpat</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- #content -->
<% include _footer %>